body {
	display: flex;
 	align-items: center;
 	justify-content: center;
 	flex-direction: column;
}

img {
	width: 800px;
	height: auto;
}

p {
	font-weight: bold;
}

.attributes {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

}

.button {
	height: 40px;
 	width: 40px;
  	border-radius: 50%;
	border: 1px solid black;
	background-color: white;
}

.dataset-button {
	height: 30px;
 	width: 80px;
  	border-radius: 10%;
	border: 1px solid black;
	background-color: white;
	margin: 5px;
}

.dataset-buttons-and-text-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.knn-buttons-and-text-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.num-points-buttons-and-text-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.dataset-button-container {
  display: flex;
  width: 250px;
  flex-direction: row;
  justify-content: center;
}

.button-container {
  display: flex;
  width: 250px;
  flex-direction: row;
  justify-content: space-around;
}

.needs-border {
	border-style: solid;
	border-width: 1px;
	width: 200px;
	height:200px;
}


/*. ---------- Begin Test Code ----------   */

.yAxis text {
  font: 10px sans-serif;
}
.xAxis text {
  font: 10px sans-serif;
}

.yAxis path, .yAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

rect {
	fill :#fff;
}
.xAxis path, .xAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.Knear{
	margin-top:20px;
}

#kneighbors{
	width:200px;
}

.BIGline {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/*----- End Test Code ----------*/
