body {
	display: flex;
 	align-items: center;
 	justify-content: center;
 	flex-direction: column;
}

img {
	width: 800px;
	height: auto;
}

.attributes {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

}

.button {
	height: 40px;
 	width: 40px;
  	border-radius: 50%;
	border: 1px solid black;
	background-color: white;
}

.knn-buttons-and-text-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.num-points-buttons-and-text-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.button-container {
  display: flex;
  width: 250px;
  flex-direction: row;
  justify-content: space-around;
}

